*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(#00000001, #00000063), url(/IMG/empresa.png);
    background-position: center;
    background-size: cover;
    background-repeat: space;
    min-width: none;
    min-height: 100vh;
}
main{
    max-width: 600px;
    margin: 30px auto;
    background-color: white;
    border-radius: 30px;
    padding: 30px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    border-style: solid;
    border-width: 2px;
    border-color: blue;
}
.imagem-centralizada{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h1{
    margin: 0;
    font-size: 2.2em;
    color: white;
    text-align: center;
    font-size: 40px;
}
main main{
    text-align: center;
}
main main p{
    font-size: 15px;
}
.container-mains {
    display: flex; 
    justify-content: space-around; 
    align-items: flex-start; 
    gap: 20px; 
}
.main-esquerda, .main-direita {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
}