*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(#00000001, #00000063);
    background-position: center;
    background-size: cover;
    background-repeat: space;
    min-width: none;
    min-height: 100vh;
}
main{
    max-width: 600px;
    margin: 30px auto;
    background-color: white;
    border-radius: 30px;
    padding: 30px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    border-style: solid;
    border-width: 2px;
    border-color: blue;
}